<div class="otherBanner">
    <img src="images/othersBanner.png">
    <h3 ng-bind="companyname"></h3>
</div>
<div class="weui-grids">
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="images/others_07.png" alt="">
        </div>
        <p class="weui-grid__label">新闻</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="images/others_09.png" alt="">
        </div>
        <p class="weui-grid__label">公告</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="images/others_11.png" alt="">
        </div>
        <p class="weui-grid__label">通知</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="images/others_16.png" alt="">
        </div>
        <p class="weui-grid__label">政策法规</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="images/others_17.png" alt="">
        </div>
        <p class="weui-grid__label">常见问题</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="images/others_18.png" alt="">
        </div>
        <p class="weui-grid__label">缴费说明</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="images/others_23.png" alt="">
        </div>
        <p class="weui-grid__label">业务指南</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="images/others_16.png" alt="">
        </div>
        <p class="weui-grid__label">供热常识</p>
    </a>
    <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
            <img src="images/otherRed_03.png" alt="">
        </div>
        <p class="weui-grid__label">红包玩法</p>
    </a>
</div>